body{
    text-align:center;
    position:relative;
    background-image: url("https://i.pinimg.com/originals/82/32/15/8232157f8d4e09717bf71b9a5e7d2929.jpg");
    background-repeat: no-repeat;
    font-size: 22px;
    overflow: hidden;
    top:350px;
}



.scoreboard{
    display: inline-block;
  }
  #playerOne{
    margin:25px;
  }
  #playerTwo{
    margin:25px;
  }
   button{
    display:block;
    margin: 15px 5px 0px 4px;
    border:none;
    width:75px;
    height:50px;
    border-radius:25px;
    font-size:25px;
    background-color: aqua;
  }
  
  .minusCounter{
    float:right;
    position:relative;
    bottom:65px;
    left:15px;
  }
  
  .counter{
    height:50px;
    width:150px;
    font-size:50px;
    text-align:center;
  
  }
  
  .scoreboard{
    text-align:center;
    justify-content:center;
  }
  input::-webkit-outer-spin-button,
  input::-webkit-inner-spin-button{
      -webkit-appearance:none;
      margin:0;
  }

  /* Background Change */
.backgrounds{
  position:relative;
  margin: 25px 60px;
  top:60px;
  
  
}
.backgrounds>button{
  width: 75px;
  height:30px;
  font-size:12px;
  
}

#plusFivePlayerTwo{
  float:right;
}

 #minusFivePlayerTwo{
  float:right;
}

.flexPlayerTwo{
  display:flex;
  flex-direction: column;
  float:right;
  position: relative;
  bottom:130px;
  margin:0px 0px 0px 100px;

}
.flexPlayerOne{
 display:flex;
 flex-direction: column;
 float:right;
 position: relative;
 bottom:130px;
 margin:0px 0px 0px 100px;
}

/* side nav menu */

.sideNav {
  height:100%;
  width:0;
  position:fixed;
  z-index:1;
  top:0;
  left:0;
  background-color:aqua;
  overflow-x:hidden;
  padding-top:60px;
  transition:0.5s;
}
.sidenav button {
  padding:2px 8px 8px 5px;
  font-size: 15px;
  display:block;
  transition:0.3s;
}

.sidenav button:hover{
  color: #f1f1f1;
}
.sidenav .closebtn {
  position: absolute;
  top:0px;
  right:25px;
  font-size:36px;
  margin-left:50px;
}

@media screen and (max-height: 450px){
  .sidenav {padding-top:15px;}
  .sidenav button {font-size:18px;}
}

#openButton {
  position:fixed;
  top:55px;
  left:75px;
  background: aqua;
  border-radius:5px;
}

a{
  text-decoration: none;
}